body {
    width: 75% ;

    margin: 0px auto;
}

*{
    margin: 0px;
    color: rgb(229, 223, 223);
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
}


header , footer {
    background-color: black;
    padding: 40px 0px;
    clear: both;
}

.cover {
  width: 100%;
  height: 400px;
}


aside , .parent {

 height: 700px;
 color: white;

}


aside {
    background-color: blue;
    width: 30%;
    float: left;
}

.parent {

    width: 70%;
    float: right;
}

main {
    background-color: brown;
    height: 50%;
}

.banner {
    background-color: green;
    height: 25%;
}

.container {
    
    height: 25%;
}

.ad {
    background-color: yellowgreen;
    width: 70%;
    height: 100%;
    float: left;
}

.img {
    width: 30%;
    float: right;
    height: 100%;
}