*{
    font-size: 25px;
    margin: 0px;
    color:#c6c2c2 ;
    text-align: center;
    border-radius: 10px;
    
}

header , footer {
background-color:black ;
padding: 30px 0px;
clear: both;
}

main {
    background-color: blueviolet;
    width: 70%;
    height: 630px;
    float: right;
}

aside {
    background-color: green;
    width: 30%;
    height: 600px;
    float: left;

}